
.mainContainerLogin {
  width: 400px;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
}

.containerLogin, .containerRegister {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: bold;
}

.userLogin {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttonLogin {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease-in-out;
}

.buttonLogin:hover {
  background-color: #0056b3;
}

.containerCreateAccount, .containerRegister div {
  margin-top: 15px;
}

.containerCreateAccount button, .containerRegister button {
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.containerCreateAccount button:hover, .containerRegister button:hover {
  color: #0056b3;
}

.containerLogin {
  animation: slideInLeft 0.5s ease-in-out;
}
.containerRegister {
  animation: slideInRight 0.5s ease-in-out;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
