
  /* Stepper Container */
  .stepper-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95); /* Sfondo semi-trasparente per lo stepper */
    z-index: 999; /* Metti il stepper sopra gli altri elementi */
    height: 100%; /* Occupa tutta l'altezza della pagina */
    width: 100%; /* Occupa tutta la larghezza della pagina */
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
  }

  .formHouse{
    gap: 20px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
  }

  .mainRecup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-transform: uppercase;
  }

  .titleRecup{
    font-size: 2rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .image-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 20px;
    margin-bottom: 40px;
  }

  .image-preview-item {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    
  }

  .image-preview-img{
    max-width: 100px;
    border-radius: 8px;
  }

  .delete-icon{
    cursor: pointer;
    color: red;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 1px;
  }

  .recupText{
    font-size: 1.2rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;

}

.recupText2{
    font-size: 1.2rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
    text-transform: uppercase;

}

 .recupPersonal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
 }

 .recupHouse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
 }

  .formHouse > h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h3{
    font-size: 1.2rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h4{
    font-size: 1rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h5{
    font-size: 0.8rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h6{
    font-size: 0.6rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h7{
    font-size: 0.4rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h8{
    font-size: 0.2rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h9{
    font-size: 0.1rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h10{
    font-size: 0.05rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h11{
    font-size: 0.025rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h12{
    font-size: 0.0125rem;
    font-weight: 500;
    color: #495057;
    text-align: center;
  }

  .formHouse > h13{
    font-size: 0.00625rem;
    font-weight: 500;
    color:
}
  